.block {
    padding: 32px;
}

.blockHorizontal {
    padding: 0 32px;
    grid-template-rows: min-content;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--border);
}

.borderBottom {
    border-bottom: 1px solid var(--border);
}

.rowSmall {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &.gap {
        gap: 16px;
    }
}

.title {
    font-family: var(--heading);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.borderLeft {
    border-left: 1px solid var(--border);
}

.line {
    margin: 20px 0;
    border: none;
    background-color: var(--border);
    height: 1px;
}

.content {
    border: 1px solid var(--border);
}

.contentSmall {
    border: 1px solid var(--border);
    border-left: none;
}

.header {
    padding: 24px 32px;
    background-color: rgb(var(--primary-rgb) / 10%);
    border-bottom: 1px solid var(--border);
}

.headerTitle {
    font-family: var(--heading);
    font-size: 18px;
    font-weight: 600;
}

.img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text {
    color: var(--text-secondary);
}

.role {
    color: var(--text-secondary);
    margin-bottom: 4px;
    position: relative;
    padding-left: 14px;

    &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--text-primary);
        top: 6px;
        left: 0;
    }
}

.marginSmall {
    margin-bottom: 24px;
}

.marginMedium {
    margin-bottom: 64px;
}

.imageBlock {
    background-color: var(--border);
    padding: 32px 20%;
    margin: 32px;
    display: flex;
    justify-content: center;

    &.withoutMargin {
        margin: 0;
    }

    &.medium {
        padding: 32px;
    }
}

.col2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.col3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.rowFlex {
    display: flex;
    gap: 16px;
}

.tableCol {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: var(--border);
        right: 0;
    }
}

.tableRow {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 16px;
    padding: 8px 16px;
}

.subtitle {
    font-family: var(--heading);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 24px;
}

.imgWrapper {
    background-color: var(--border);
    display: flex;
    align-items: center;
    height: calc(100% - 72px);
}