.block {
    padding: 32px;
}

.blockRight {
    padding: 32px 32px 32px 0;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--border);
}

.borderBottom {
    border-bottom: 1px solid var(--border);
}

.rowSmall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.margin {
    margin-top: 62px;
}

.subtitle {
    font-family: var(--heading);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tools {
    display: flex;
    gap: 16px;
}

.toolItem {
    font-family: var(--heading);
    font-size: 16px;
    font-weight: 500;
}

.title {
    font-family: var(--heading);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.borderLeft {
    border-left: 1px solid var(--border);
}

.line {
    margin: 20px 0;
    border: none;
    background-color: var(--border);
    height: 1px;
}

.content {
    border: 1px solid var(--border);
}

.header {
    padding: 24px 32px;
    background-color: rgb(var(--primary-rgb) / 10%);
    border-bottom: 1px solid var(--border);
}

.headerTitle {
    font-family: var(--heading);
    font-size: 18px;
    font-weight: 600;
}

.imgBlock {
    display: flex;
    justify-content: center;
}

.img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.imageBlock {
    background-color: var(--border);
    padding: 32px 20%;
    margin: 32px;
    display: flex;
    justify-content: center;

    &.big {
        padding: 32px;
        margin-top: 0;
    }

    &.medium {
        padding: 32px;
    }
}

.text {
    color: var(--text-secondary);
}

.marginSmall {
    margin-bottom: 24px;
}

.role {
    color: var(--text-secondary);
    margin-bottom: 4px;
    position: relative;
    padding-left: 14px;

    &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--text-primary);
        top: 6px;
        left: 0;
    }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--sans);
  color: var(--text-secondary);
  margin-bottom: 40px;
}

th {
    color: var(--text-primary);
}

th,
td {
  border: 1px solid var(--border);
  padding: 8px 12px;
  text-align: left;
  vertical-align: middle;
}

td:first-child,
th:first-child {
  width: 50%;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.col {
    display: flex;
    flex-direction: column;
}

.col2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.col3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.subtitle {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 24px;
}