.block {
    padding: 32px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--border);
}

.subtitle {
    font-family: var(--heading);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tools {
    display: flex;
    gap: 16px;
}

.toolItem {
    font-family: var(--heading);
    font-size: 16px;
    font-weight: 500;
}